<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fat Slop Burger</title>
        <!-- Required meta tags -->
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
        <!--jQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Bootstap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        {{{ body }}}

        <script>
            $("#addburger").on("click", function(event) {
                event.preventDefault();

                var newBurger = {
                    burger_name: $("#newburger").val().trim(),
                    devoured: 0
                };
                console.log(newBurger)

                $.ajax("/api/burgers", {
                    type: "POST", 
                    data: newBurger
                }).then(function() {
                    console.log("Added ", newBurger);
                    location.reload();
                });
            });

            $(".eatburger").on("click", function(event) {
                event.preventDefault();
                console.log("Ya clicked it");

                var id = $(this).data("id");
                console.log(id)
                var devouredStatus = {
                    devoured: 1
                };

                $.ajax("/api/burgers/" + id, {
                    type: "PUT",
                    data: devouredStatus
                }).then(function() {
                    console.log("You ate ", id.burger_name);
                    location.reload();
                });

            });

            
        </script>
    </body>
</html>